---
import aboutImg from "@/assets/about-astro.png";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "Data for Afghanistan aims to democratize data on Afghanistan.",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">

  
		<h1 class="title">About Data for Afghanistan</h1>
		<p>
		At Data for Afghanistan, our mission is to democratize access to data on Afghanistan. 
    Despite the abundance of data generated on the country, much of it remains inaccessible to the public. 
    Everyone, from students to policymakers, should have the opportunity to learn about key 
    topics related to Afghanistan without any hassle. </p>

    <p>
    To achieve this, we curate credible data sources and identify the most important topics. 
    Utilizing state-of-the-art data visualization technologies, we present this information in a user-friendly format. 
    Our commitment to open-access philosophy means that we also share third-party open-access data work 
    on Afghanistan, ensuring that valuable information is available to all. </p>

    <p>
    We invite you to collaborate with us or consider yearly sponsorships to support our mission of making 
    data accessible and expanding our platform with new research and datasets. </p>
		</p>
  


		<section>
		<h1 class="title mt-16 mb-4">Founder's Message</h1>
    <p>
    As the founder of Data for Afghanistan, 
    I am thrilled to welcome you to our platform. My background in economics, computational science, and advanced data methods has 
    shown me the power of accessible, well-presented data in driving informed decision-making. Through Data for Afghanistan, 
    we aim to bridge the gap between the wealth of information available about the country and those who seek to understand it. 
    Our approach to data encourages a deeper exploration of Afghanistan's multifaceted challenges and opportunities. I invite you to explore our platform, 
    engage with our visualizations, and join us in our commitment to fostering greater awareness and informed discourse about Afghanistan. 
    I believe in the potential of data to drive positive change and shape a brighter future for Afghanistan. </p>
    </p>
      <blockquote>
     -- <cite>Ahmad Zia Wahdat, PhD</cite> 
      </blockquote>
    </section>



<!--
    <div class="flex justify-center">
			<Image
				alt="A cartoon cactus looking at the 'Astro.build' logo"
				fetchpriority="high"
				loading="eager"
				src={aboutImg}
			/>
		</div>
-->

	</div>
</PageLayout>
