---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";

import ContactForm from "@/components/ContactForm.astro";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: { desc: string; href: string; title: string }[] = [
	{
		desc: "Population, Age Distribution.",
		href: "https://dataforafghanistan.org/posts/people/",
		title: "People",
	},
	{
		desc: "Poverty, Unemployment, Life Satisfaction.",
		href: "https://dataforafghanistan.org/posts/economy/",
		title: "Economy",
	},
	{
		desc: "Food Insecurity, Life Expectancy, Mortality.",
		href: "https://dataforafghanistan.org/posts/health/",
		title: "Health",
	},
	{
		desc: "Water Use, Sanitation Use.",
		href: "https://dataforafghanistan.org/posts/water-sanitation/",
		title: "Water & Sanitation",
	},
	{
		desc: "Air Pollution, Natural Disasters.",
		href: "https://dataforafghanistan.org/posts/environment/",
		title: "Environment",
	},
	{
		desc: "Agriculture, Food Yield.",
		href: "https://dataforafghanistan.org/posts/natural-resources/",
		title: "Natural Resources",
	},
	{
		desc: "United Nations Sustainable Development Goals.",
		href: "https://dataforafghanistan.org/posts/sdgs/",
		title: "SDGs",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Your Gateway to Data Visualizations on Afghanistan</h1>
		<p class="mb-4">
			Discover, learn, and engage with key topics on Afghanistan through our curated and 
accessible data visualizations. Our platform's goal is to democratize data on Afghanistan, so that anyone can gain knowledge  
about Afghanistan, anytime and anywhere.
		</p>
	</section>

  <!-- <SocialList />    Disabled  
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Data Pages</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>  -->

     <!-- <Data Pages />    --> 
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Data Pages</h2>
		<dl class="space-y-4">
			{
				cactusTech.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 sm:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link" href={href} rel="noopener noreferrer" >
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>

    <!-- <Sample Visualization />    --> 
  <section class="mt-16">
		<h2 class="title mb-4 text-xl"> </h2>

  <iframe title="The Sustainable Development Goals Scores (0-100), 2023 vs. 2010" aria-label="Arrow Plot" id="datawrapper-chart-DtZPY" src="https://datawrapper.dwcdn.net/DtZPY/6/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="490" data-external="1"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"]){var e=document.querySelectorAll("iframe");for(var t in a.data["datawrapper-height"])for(var r=0;r<e.length;r++)if(e[r].contentWindow===a.source){var i=a.data["datawrapper-height"][t]+"px";e[r].style.height=i}}}))}();
</script>
  
  </section>

   <!-- <Sponsors />    --> 
<section class="mt-16">
		<h2 class="title mb-4 text-xl">Become a Sponsor</h2>
<p class="mb-4">
			Your sponsorship can help Data for Afghanistan grow. If you are interested in becoming a sponsor, please fill out this <a
				aria-label="sponsorship form"
				class="cactus-link inline-block"
				href="https://dataforafghanistan.org/sponsor/"
				rel="noreferrer"
				target="_self">FORM</a>. Let's start the conversation!
		</p>
</section>

<!-- <License />    --> 
<section class="mt-16">
		<h2 class="title mb-4 text-xl">Copyright License</h2>
<p class="mb-4">

  All data visualizations (i.e., the material) of Data for Afghanistan are licensed under the Creative Commons Attribution-No Derivatives-Non Commercial 4.0 International License
(CC BY-ND-NC 4.0). 
			<p>You are free to:</p>
		<ul>
			<li><b>Share</b> — copy and redistribute the material in any medium or format for non-commercial purposes.</li>
		</ul>
    <br>
    Under the following terms:
		<ul>
			<li><b>Attribution</b> — When sharing the material, you must give appropriate credit 
to Data for Afghanistan by providing license information along with references. We provide a reference and license format under each visualization.</li>
			<li><b>No Derivatives</b> — The material should be shared as it is, without any modifications.</li>
			<li><b>Non-Commercial</b> — You may not use the material for commercial purposes.</li>
		</ul>
			</p>
</section>


</PageLayout>
