---
import aboutImg from "@/assets/about-astro.png";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "Become a sponsor for Data for Afghanistan.",
	title: "Sponsor",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">

  
		<h1 class="title">Become a Sponsor for Data for Afghanistan</h1>
		<p>
		Your sponsorship can help Data for Afghanistan grow. 
    If you are interested in becoming a sponsor, please fill out the following form. Let's start the conversation! </p>

    
  

  <iframe aria-label='Get in touch' frameborder="0" style="height:750px;width:70%;border:none;" src='https://forms.zohopublic.com/ahmadziaafghangm1/form/Getintouch/formperma/Qh7U29z6Zb4IN0OVikBv_Qav8kN63wDIrktJxv0qRKc'></iframe>
		




	</div>
</PageLayout>
